.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  user-select: none;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 50px;
}

.textA {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.textSlogan {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 33px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 90px;
}

.enddingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.enddingPage p {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.enddingPage img {
  width: 16px;
  height: auto;
  margin-bottom: 30px;
}

.naturezaWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
